.cards {
  font-family: $ffRoboto;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.cards__item {
  min-width: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-bottom: 20px;
}

.card__desc {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  border-radius: 10px;
}
