.header {
  background-color: $white;
  padding: 41px 0 32px;
  border-bottom: 2px solid $white-sand;

  @include tablets {
    padding: 35px 0 24px;
  }
}

.header__title {
  margin-bottom: 36px;

  @include tablets {
    text-align: right;
  }
}