include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Каталог
  body
    .wrapper
      include ./templates/nav
      .page-content
        header.header
          .container
            h1.header__title.title Каталог
            .search
              input(type='text' placeholder='Какой магазин вам нужен?').search__input

        .maincontent
        //- +image('content/user.jpg', 'user-pic')
        //- +icon('link', 'link-class')
        //- .icon-bg