include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Каталог
  body
    .wrapper
      include ./templates/nav
      .page-content
        include ./templates/header
        main.content
          .container.container__container
            include ./templates/cards