include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Каталог
  body
    .wrapper
      include ./templates/nav
      .page-content
        include ./templates/header
        main.content
          .container.container__container
            section.cards
              ul.cards__list
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
                li.cards__item
                  .card
                    .triangle-left
                    .triangle-right
                    .card__desc
                      .card__titles
                        .card__title пробка на мира
                        .card__subtitle Вечер для двоих
                      .card__discounts
                        .card__discount.title.title_big -50%
                        .card__discount-title скидка
                    .card__img
                      +image('content/image1.png', 'image')
